.orders-container {
  background-color: var(--light-color);
}

.orders-container h3 {
  margin: 0;
}

.order-summary-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.order-summary-content {
  width: calc(70% - 40px);
  border-radius: 10px;
  padding: 20px;
  background: #FFF;
  background-color: var(--primary-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.amount-selected-container {
  margin-bottom: 10px;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: -0.015em;
  line-height: 15px;
  display: block;
}

.amount-selected {
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.015em;
  line-height: 15px;
}

.order-summary-total {
  color: #FFF;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: -0.015em;
  line-height: 15px;
  display: block;
}

.order-summary-price {
  margin-right: 5px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  line-height: 19px;
}

.order-summary-make-order {
  width: 220px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background: #FFF;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
}

.order-summary-make-order:focus {
  outline: none;
}

.order-summary-make-order:hover {
  background-color: #fcf2f2;
  transform: scale(1.01);
}

@media only screen and (max-width: 768px) {
  .order-summary-content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .order-summary-make-order {
    width: 100%;
    margin-top: 15px;
  }
}
